# Ignore Terraform state files
*.tfstate
*.tfstate.backup
*.tfstate.backup.*

# Ignore any .terraform directories
**/.terraform/*

# Ignore any override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore AWS credentials file
.aws/credentials
